<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riane.homepage" >

    <application
        android:label="@string/app_name"
        tools:replace="android:label">

        <meta-data
            android:name="com.riane.homepage.base.HomepageConfig"
            android:value="ConfigModule"/>
    </application>
</manifest>
